@inject IJSRuntime Runtime;

<div @ref="GantChartContainer"></div>

@code {
	ElementReference GantChartContainer;
	IJSObjectReference? gantChartContainer;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			var gantChartModule = await this.Runtime.InvokeAsync < IJSObjectReference>("import", "/GantChartInterop.js");
			var gantChart = await gantChartModule.InvokeAsync<IJSObjectReference>("createGantChart", this.GantChartContainer);
			await gantChart.InvokeVoidAsync("render");
		}
	}
}
