@inject IJSRuntime Runtime;
<div>Last Clicked: @this.LastClicked</div>

<div @ref="GantChartContainer"></div>

@code {
	ElementReference GantChartContainer;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			var gantChart = new GantChartInterop(this.Runtime, this.GantChartContainer);
			var gantChartModule = await this.Runtime.InvokeAsync < IJSObjectReference>("import", "/GantChartInterop.js");
			await gantChart.RenderAsync(i =>
			{
				this.LastClicked = i;
				this.StateHasChanged();
				return Task.CompletedTask;
			});
		}
	}

	private int LastClicked;
}
